language: node_js

node_js:
  - 14

install:
  - npm install -g serverless
  - npm install
  - npx eslint src

script:
  - if [ $TRAVIS_PULL_REQUEST == "true" ]; then serverless; fi
  - if [ $TRAVIS_BRANCH == "main" && $TRAVIS_PULL_REQUEST == "false" ]; then serverless deploy; fi

branches:
  only:
    - main